{% extends "layouts/main.html" %}
{% load static %}

{% block content %}

<div class="contact">
    <h2 class="text-center">Mi perfil</h2>
</div>

<div class="perfil">

<div class="coupon flex-column text-center">
    <h4 class="mt-5">Mis planes:</h4>
<p class="mt-1" style="color: white;">Aún no adquiriste ningún plan</p>
<a href="/compra">Comprar un plan</a>
</div>

<div class="coupon flex-column text-center">
    <a href="" style="color: white;"><h4 class="mt-5">Editar mi perfil</h4></a>
<p class="mt-1" style="color: white;">Haz click para editar tu perfil</p>
</div>
</div>


{% endblock %}